/* manrope-500 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Manrope";
    font-style: normal;
    font-weight: 500;
    src: url("./assets/fonts/manrope-v19-latin-500.woff2") format("woff2"),
        /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */ url("./assets/fonts/manrope-v19-latin-500.ttf")
            format("truetype"); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
/* manrope-700 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Manrope";
    font-style: normal;
    font-weight: 700;
    src: url("./assets/fonts/manrope-v19-latin-700.woff2") format("woff2"),
        /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */ url("./assets/fonts/manrope-v19-latin-700.ttf")
            format("truetype"); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
:root {
    --clr-blue-500: hsl(217, 19%, 35%);
    --clr-blue-300: hsl(214, 17%, 51%);
    --clr-blue-100: hsl(212, 23%, 69%);
    --clr-blue-50: hsl(210, 46%, 95%);
    --clr-white: #fff;

    --font-sans: Manrope, sans-serif;
    --font-medium: 500;
    --font-bold: 700;

    --text-body: 0.8125rem;
    --text-heading-1: 1rem;

    --leading-none: 1;
    --leading-heading-1: 1.5rem;
    --leading-paragprah: 1.25rem;

    --tracking-heading: 0.012em;
    --tracking-main: 0.01em;

    --rounded-full: 999px;
    --rounded: 0.625rem;
}
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}
body {
    -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}
button {
    font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}
.main__container {
    font-family: var(--font-sans);
    font-weight: var(--font-medium);
    font-size: var(--text-body);
    line-height: var(--leading-none);
    letter-spacing: var(--tracking-main);
    background-color: var(--clr-blue-50);
    min-height: 100vh;
    padding: 4.75rem 0 5.0625rem 0;
}
.card {
    margin: 0 auto;
    width: min(100vw - 3rem, 25rem);
    background-color: var(--clr-white);
    color: var(--clr-blue-300);
    border-radius: var(--rounded);
    box-shadow: hsla(217, 19%, 35%, 10%) 0px 16px 48px 8px;
}
.card__image {
    width: 100%;
    max-height: 12.5rem;
    object-fit: cover;
    border-radius: var(--rounded) var(--rounded) 0 0;
}
.card__content {
    position: relative;
    padding: 2.25rem 2rem 1.25rem 2rem;
}
.card__title {
    font-size: var(--text-heading-1);
    line-height: var(--leading-heading-1);
    letter-spacing: var(--tracking-heading);
    color: var(--clr-blue-500);
    margin-bottom: 0.75rem;
}
.card__description {
    line-height: var(--leading-paragprah);
    margin-bottom: 2rem;
}
.card__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card__person {
    display: flex;
    align-items: center;
}
.card__person__avatar {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: var(--rounded-full);
    margin-right: 1rem;
}
.card__person__name {
    color: var(--clr-blue-500);
    font-weight: var(--font-bold);
    margin-bottom: 0.4375rem;
}
.card__share__content {
    border-radius: var(--rounded);
    position: absolute;
    display: none;
    align-items: center;
    justify-content: center;
    left: 0;
    right: 0;
    top: calc(100% + 0.625rem);
    padding: 1rem 2rem;
    background-color: var(--clr-blue-500);
    transition: opacity 200ms ease;
    box-shadow: hsla(217, 19%, 35%, 10%) 0px 12px 24px 12px;
}
.card__share__label {
    color: var(--clr-white);
    text-transform: uppercase;
    letter-spacing: 0.47em;
    font-size: 0.75rem;
    margin-right: 1.5rem;
}
.card__share__list {
    position: relative;
    z-index: 999;
    list-style: none;
    padding: 0;
    display: flex;
    gap: 1rem;
}
.card__share__item a {
    width: 1.25rem;
    height: 1.25rem;
    display: flex;
    align-items: center;
}
.card__share__item a:focus-visible {
    outline: 2px solid var(--clr-white);
    outline-offset: 4px;
}
.card__share__btn {
    position: relative;
    z-index: 999;
    width: 2rem;
    height: 2rem;
    padding: 0.5625rem 0 0.625rem 0;
    border: none;
    cursor: pointer;
    background-color: var(--clr-blue-50);
    border-radius: var(--rounded-full);
    display: flex;
    justify-content: center;
    transition-property: background-color, transform;
    transition-duration: 200ms;
    transition-timing-function: ease;
}
.card__share__btn.menu-shown {
    background-color: var(--clr-blue-300);
}
.card__share__btn.menu-shown svg path {
    fill: var(--clr-blue-50);
}
.card__share__btn svg {
    pointer-events: none;
}
.card__share__btn svg path {
    transition: fill 200ms ease;
}
.card__share__btn:focus-visible {
    outline: 2px dashed var(--clr-blue-500);
    outline-offset: 4px;
}
.card__share__btn:active {
    transform: scale(0.95);
}
@media (hover: hover) {
    .card__share__btn:hover {
        background-color: var(--clr-blue-500);
    }
    .card__share__btn:hover svg path {
        fill: var(--clr-white);
    }
}

@media screen and (min-width: 42em) {
    :root {
        --text-heading-1: 1.25rem;
        --leading-heading-1: 1.75rem;
    }
    .main__container {
        padding: 16.25rem 0;
    }
    .card {
        width: min(100vw - 3rem, 45.625rem);
        display: flex;
    }
    .card__content {
        padding: 2rem 2.5rem;
    }
    .card__image {
        border-radius: var(--rounded) 0 0 var(--rounded);
        max-height: 100%;
        max-width: 17.8125rem;
        object-position: left;
    }
    .card__description {
        margin-bottom: 1.25rem;
    }
    .card__share {
        position: relative;
    }
    .card__share__content {
        top: initial;
        left: initial;
        bottom: calc(100% + 1.75rem);
        right: 50%;
        transform: translateX(50%);
    }
    .card__share__content--shape {
        display: block;
        bottom: -0.5rem;
        position: absolute;
        width: 1.25rem;
        height: 1.25rem;
        left: 50%;
        transform: translateX(-50%) rotate(45deg);
        background-color: var(--clr-blue-500);
    }
}
